* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-style: normal;
  }

.container img {
    width: 700px;
}

.container {
    width: 99%;
    max-width: 800px;
    height: 100vh;
    background-color:hsl(275, 100%, 97%);
    /* position: relative; */
    margin: 20px auto;
    box-shadow: 2px 2px 16px 1px hsl(0, 0%, 72%);
}

.container img {
    width: 100%;
    height: auto;
    display: block;
  }

.main {
    width: 70%;
    max-width: 800px;
    background-color: white;
    margin: -100px auto 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0.1px 0.1px 12px 0.1px hsl(276, 30%, 66%);
    position: relative; /* not absolute! */
    z-index: 1;
}

.starTitle {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

#FAQsStar {
    width: 30px;
}

h1 {
    color: hsl(292, 42%, 14%);   
}


.section {
    margin-top: 20px;
}

.section h2 {
color: hsl(292, 42%, 14%);    
font-weight: 600;
font-size: medium;
/* margin-bottom: 10px; */
}

.section h2:hover {
    color: hsl(289, 70%, 45%);
    cursor: pointer;
    
}

    hr {
        border: 1px solid hsl(0, 0%, 94%);
        margin-bottom: 10px;
        margin-top: 10px;
    }

button.plus-btn:hover,
button.plus-btn:focus {
  transform: scale(1.1);
  filter: brightness(1.2);
  transition: transform 0.2s ease, filter 0.2s ease;
}
 
.icon-plus {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 1px; */
}

.icon-plus img{
    width: 26px;
    height: 26px;
}

.plus-btn {
    background: none;
    border: none;
    cursor: pointer;
}

p {
    /* visibility: hidden; */
        /* font-weight: 400; */
    font-size: 15px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    margin-top: 10px;
    color: hsl(292, 16%, 49%);
     transition: background-color 0.2s ease-out;
    
}

.hideCss {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.9s ease, opacity 0.9s ease;
}

.reveal{
    max-height: 500px;
    opacity: 1;
    /* visibility: visible; */
}

.attribution {
    position: relative;
    background-color:hsl(275, 100%, 97%);
    margin-top: 800px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .section h2 {
      font-size: 1rem;
    }
  
    .main {
      top: 6%;
      /* left: 15%; */
      padding: 16px;
    }
  
    .starTitle {
      gap: 15px;
    }
  
    .plus-btn img {
      width: 24px;
      height: 24px;
    }
  }
  
  @media (max-width: 480px) {
/* 
    .container {
       height: 90vh;
    } */

    .main {
      top: 6%;
      /* left: 15%; */
      position: relative;
      z-index: 1;
      margin: -100px auto 0 auto;
    }
  
    .section h2 {
      font-size: 0.95rem;
    }
  
    .attribution {
      font-size: 0.8rem;
      margin-top: 400px;
    }
  }
  